<div style="height: 2px">
    <mat-progress-bar mode="indeterminate" *ngIf="dataSource.loading$ | async" style="height: 2px !important;">
    </mat-progress-bar>
</div>

<div class="mat-table__wrapper">

    <table mat-table
           matSort
           [dataSource]="dataSource"
           [class.busy]="dataSource.loading$ | async"
           matSortDisableClear
           style="width: 100%">

        <ng-container matColumnDef="details">
            <th mat-header-cell *matHeaderCellDef style="width: 73px;"></th>
            <td mat-cell *matCellDef="let row">
                <i>
                    <svg xmlns="http://www.w3.org/2000/svg"
                         focusable="false" width="2em" height="2em"
                         class="kt-svg-icon kt-svg-icon--primary kt-svg-icon--md"
                         style="-ms-transform: rotate(360deg); -webkit-transform: rotate(360deg); transform: rotate(360deg);"
                         preserveAspectRatio="xMidYMid meet" viewBox="0 0 32 32">
                        <g stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                            <path d="M9.094 4.78L7.688 6.22l9.78 9.78-9.78 9.78 1.406 1.44 10.5-10.5.718-.72-.718-.72-10.5-10.5zm7 0l-1.407 1.44L24.47 16l-9.782 9.78 1.406 1.44 10.5-10.5.718-.72-.718-.72-10.5-10.5z"
                                  fill="#626262" />
                        </g>
                    </svg>
                </i>
            </td>
        </ng-container>

        <!-- main columns -->
        <ng-container *ngFor="let col of cols" [matColumnDef]="col.name">

            <th
                mat-header-cell
                *matHeaderCellDef
                mat-sort-header
                [disabled]="col.notSortable"
                [ngStyle]="{'width':col.width ? col.width : ''}">
                {{col.label}}
            </th>

            <td mat-cell *matCellDef="let row">
                {{row[col.name]}}
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns;"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;" (click)="onActionClicked('row_click',row)"></tr>
    </table>

    <div class="mat-table__message" *ngIf="!dataSource.hasItems">No records found</div>
</div> <!-- /mat-table__wrapper -->


<!-- table footer -->
<div class="mat-table__bottom">

    <!-- spinner -->
    <div *ngIf="dataSource.loading$ | async">
        <mat-spinner class="ml-4" diameter="20"></mat-spinner>
    </div>

    <!-- paginator -->
    <mat-paginator class="ml-auto" [length]="dataSource.totalItems" [pageSize]="pageSizeOptions[1]"
                   [pageSizeOptions]="pageSizeOptions"></mat-paginator>
</div>