<div class="my-5 mat-elevation-z3 fw-550 text-dark">
    <h1 class="border-bottom mb-2 p-4">ProgressSoft Assignment</h1>
    <div class="px-4 pb-4">
        <div>Name: Tamim Khaldoon Khalil</div>
        <div>Email: kk.tamim73@gmail.com</div>
        <div>Mobile: 0785936622</div>
    </div>

    <div class="py-2 px-4">
        <div class="border-bottom my-2 fs-125 fw-550">Get Started</div>
        <div>
            <ol>
                <li>Modify the 'Default' connection string in appsettings.json to match your environment</li>
                <li>Select the Web project and run <i>'update-database'</i> command in NuGet Package Manager Console
                </li>
                <li>Run the application by pressing F5</li>
            </ol>
        </div>
    </div>

    <div class="py-2 px-4">
        <div class="border-bottom my-2 fs-125 fw-550">Description</div>
        <div>
            <ul>
                <li>Application users have two roles, administrator role and user role.</li>
                <li>User role
                    <ul>
                        <li>List, search and view employees details.</li>
                        <li>Export reports to excel.</li>
                    </ul>
                </li>
                <li>Administrator role
                    <ul>
                        <li>List, search and view employees details.</li>
                        <li>Export reports to excel.</li>
                        <li>Add, edit, delete employees.</li>
                        <li>Disable and enable application users accounts.</li>
                        <li>Change the role of application users.</li>
                    </ul>
                </li>
                <li>There is an account with username: 'sysadmin' and password: 'p@ssw0rd' that can not be modified.
                </li>
            </ul>
        </div>
    </div>

    <div class="py-2 px-4">
        <div class="border-bottom my-2 fs-125 fw-550">Features</div>
        <div>
            <ul>
                <li>Fully responsive.</li>
                <li>Server-side pagination, sorting, searching.</li>
                <li>Jwt role-based authentication.</li>
                <li>Component-based design with clean architecture.</li>
            </ul>
        </div>
    </div>

    <div class="py-2 px-4">
        <div class="border-bottom my-2 fs-125 fw-550">Technologies</div>
        <div>
            <ul>
                <li>Angular 8 with Angular Material</li>
                <li>Bootstrap 4 utilities</li>
                <li>.NET Core 3</li>
                <li>Entity Framework Core</li>
                <li>SQL Server</li>
            </ul>
        </div>
    </div>

    <div class="py-2 px-4">
        <div class="border-bottom my-2 fs-125 fw-550">Prerequisites</div>
        <div>
            <ul>
                <li>Node.js</li>
                <li>npm</li>
                <li>Angular cli</li>
                <li>.NET Core 3 SDK</li>
                <li>SQL server</li>
            </ul>
        </div>
    </div>


</div>