<div class="my-5 mat-elevation-z3 fw-550 text-dark">
    <h1 class="border-bottom mb-2 p-4">ProgressSoft Assignment</h1>
    <div class="px-4 pb-4">
        <div>Name: Tamim Khaldoon Khalil</div>
        <div>Email: kk.tamim73@gmail.com</div>
        <div>Mobile: 0785936622</div>
    </div>

    <div class="py-2 px-4">
        <div class="border-bottom my-1 fs-125 fw-550">Github repository</div>
        <div>
            <a href="https://github.com/tamim73/progress-soft-assignment.git">Open in github</a>
        </div>
    </div>

    <div class="py-2 px-4">
        <div class="border-bottom my-1 fs-125 fw-550">Get Started</div>
        <div>
            <ol>
                <li>Inside progress-soft-assignment folder run this command: "java –jar payments-system.jar"</li>
                <li>Go in AngularClient folder then run this command: "ng s -o". make sure you have nodejs and angular
                    cli installed
                </li>
            </ol>
        </div>
    </div>

    <div class="py-2 px-4">
        <div class="border-bottom my-1 fs-125 fw-550">Features</div>
        <div>
            <ul>
                <li>Fully responsive.</li>
                <li>Component-based design with clean architecture.</li>
            </ul>
        </div>
    </div>

    <div class="py-2 px-4">
        <div class="border-bottom my-1 fs-125 fw-550">Technologies</div>
        <div>
            <ul>
                <li>Angular 8 with Angular Material</li>
                <li>Bootstrap 4 utilities</li>
            </ul>
        </div>
    </div>

    <div class="py-2 px-4">
        <div class="border-bottom my-1 fs-125 fw-550">Prerequisites</div>
        <div>
            <ul>
                <li>Node.js</li>
                <li>npm</li>
                <li>Angular cli</li>
            </ul>
        </div>
    </div>


</div>