.app-loader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  width: 100%;
  z-index: 9999999999;
}

$toolbar_height: 64px;

.app-toolbar {
  height: $toolbar_height;
}
.app-content {
  padding-top: $toolbar_height;
}
